<h1>Welcome to the Finance Tracker app</h1>
<p>Hi, I'm the homepage!</p>

<%= button_to 'Sign out', destroy_user_session_path, :method => :delete %> 
<!-- This is the button that I want to be able to click to sign out it originally was a link_to but I changed it to a button_to to try and get it to work -->