<% if notice %>
    <div class="alert alert-success">
        <button class="close" type="button" data-dismiss="alert" arial-label="">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= notice %>
    </div>
<% end %>

<% if alert %>
    <div class="alert alert-danger">
        <button class="close" type="button" data-dismiss="alert" arial-label="">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= alert %>
    </div>
<% end %>
